.demo-app {
  height: 620px;
  max-width: 100%;
  position: relative;

  :global(.MuiIconButton-root) {
    border-radius: 0;
  }

  .topbar {
    display: flex;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    height: 38px;
    background-color: #343745;
    box-shadow: inset 0 -1px 0 0 #3a3d4d;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    align-items: center;

    .toolbar-buttons {
      margin-left: 12px;
      margin-right: 4px;
      flex-shrink: 0;

      .toolbar-button {
        border-radius: 50%;
        width: 12px;
        height: 12px;
        margin-right: 9px;
        display: inline-block;

        &:global(.red) {
          background-color: #ff6059;
        }

        &:global(.yellow) {
          background-color: #ffbe2f;
        }
        &:global(.green) {
          background-color: #2aca41;
        }
      }
    }

    :global(.topbar-button) {
      display: flex;
      max-height: 100;
      border-left: 1px solid #3a3d4d;

      :global(.MuiIconButton-root) {
        max-width: 39px;
        border-right: 1px solid #3a3d4d;
        box-shadow: inset 0 -1px 0 0 #3a3d4d;

        &:hover {
          background-color: #272934;
        }

        :global(.MuiSvgIcon-root) {
          font-size: 16px;
          color: #9B9DAB;
        }
      }

      &:global(.active) {
        :global(.MuiIconButton-root) {
          background-color: #272934;
        }
      }
    }

    .topbar-inner {
      height: 100%;
      display: flex;
      flex-grow: 1;
      max-width: 100%;
      overflow: auto;
      justify-content: space-between;

      .topbar-left {
        height: 100%;
        max-width: 89%;
        display: flex;
        flex-grow: 1;

        .browser-buttons {
          display: flex;
          height: 100%;
        }

        .tabs {
          max-width: 100%;
          display: flex;
          flex-grow: 1;
          flex-wrap: nowrap;
          overflow: auto;

          .tab {
            overflow: auto;
            position: relative;
            display: flex;
            flex-basis: 230px;
            height: 38px;
            align-items: center;
            padding: 0 12px;
            color: #C0C7D1;
            transition: flex-basis 0.25s;
            cursor: pointer;
            box-shadow: inset -1px -1px 0 #3a3d4d;

            &:global(.active) {
              color: #000000;
              box-shadow: inset 0px 2px 0 #1f87ff, -1px 0 0 #3a3d4d, 1px 0 0 #3a3d4d;
              background-color: #f5f6fa;
            }

            .tab-favicon {
              display: flex;
            }

            .tab-title {
              margin-left: 6px;
              max-width: 165px;
              font-size: 12px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              user-select: none;
              flex-grow: 1;
            }

            .tab-close {
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;

              :global(.MuiIconButton-root) {
                :global(.MuiSvgIcon-root) {
                  font-size: 10px;
                }
              }
            }
          }
        }

        :global(.topbar-button.add-tab) {
          :global(.MuiIconButton-root) {
            :global(.MuiSvgIcon-root) {
              font-size: 24px;
            }
          }
        }
      }

      .topbar-right {
        height: 100%;
        display: flex;

        .static-buttons {
          display: flex;
          max-height: 100%;
          border-left: 1px solid #3a3d4d;

          :global(.topbar-button) {
            :global(.MuiIconButton-root) {
              width: 57px;
              max-width: 57px;
            }
          }

          :global(.topbar-button.gmail) {
            :global(.MuiIconButton-root) {
              :global(.MuiSvgIcon-root) {
                font-size: 18px;
              }
            }
          }

          :global(.topbar-button.tab-manager) {
            :global(.MuiIconButton-root) {
              border-right: none;
              border-top-right-radius: 6px;

              :global(.MuiSvgIcon-root) {
                font-size: 20px;
                color: #f5f7fa;
              }
            }
          }

        }

      }

    }

  }

  .main {
    display: grid;
    height: 100%;
    grid-template-columns: 50px auto;
    grid-template-areas:'sidebar content';

    .sidebar {
      grid-area: sidebar;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      background-color: #272934;
      border-bottom-left-radius: 6px;

      :global(.sidebar-button) {
        -webkit-app-region: no-drag;
        display: flex;
        justify-content: center;
        max-height: 45px;
        width: 100%;
        box-shadow: inset -1px 0 0 0 #3a3d4d;

        &:hover {
          background-color: #313342;
        }

        &:global(.active) {
          background-color: #313342;
        }

        :global(.MuiSvgIcon-root) {
          font-size: 20px;
          color: #9B9DAB;
        }
      }

      .sidebar-top {
        display: flex;
        flex-direction: inherit;

        :global(.sidebar-button.search-button) {
          border-bottom: 1px solid #343745;
          margin-bottom: 4px;
        }

        :global(.sidebar-avatar) {
          display: flex;
          flex-shrink: 0;
          max-width: 100%;
          height: 50px;
          width: 50px;
          -webkit-app-region: no-drag;

          :hover {
            img {
              opacity: 1;
            }
          }

          :global(.MuiIconButton-root) {
            max-width: 100%;
          }

          img {
            opacity: 0.5;
            width: 36px;
            height: 36px;
            border-radius: 50%;
            border-width: 1px;
            border-style: solid;
          }

          &:global(.active) {
            img {
              opacity: 1;
            }
          }
        }
      }

      .sidebar-bottom {
        display: flex;
        flex-direction: inherit;

        :global(.sidebar-button.slack-button) {
          position: relative;

          :global(.MuiSvgIcon-root) {
            font-size: 26px;
          }

          :global(.unread-badge) {
            position: absolute;
            background-color: #895be5;
            height: 18px;
            min-width: 18px;
            font-size: 11px;
            top: 4px;
            left: initial;
            right: 4px;
            user-select: none;
            display: flex;
            padding: 3px;
            color: #fff;
            font-weight: 700;
            line-height: 12px;
            border-radius: 50%;

            :global(.unread-badge-inner) {
              margin: auto;
              height: 10px;
            }
          }
        }

        :global(.sidebar-button.slack-button-2) {
          position: relative;

          :global(.MuiSvgIcon-root) {
            font-size: 26px;
          }

          :global(.unread-badge) {
            position: absolute;
            background-color: #5b8be5;
            height: 18px;
            min-width: 18px;
            font-size: 11px;
            top: 4px;
            left: initial;
            right: 4px;
            user-select: none;
            display: flex;
            padding: 3px;
            color: #fff;
            font-weight: 700;
            line-height: 12px;
            border-radius: 50%;

            :global(.unread-badge-inner) {
              margin: auto;
              height: 10px;
            }
          }
        }

        :global(.sidebar-button.more-button), :global(.sidebar-button.add-button) {
          border-top: 1px solid #343745;
        }

        :global(.sidebar-button.add-button) {
          :global(.MuiSvgIcon-root) {
            font-size: 34px;
          }
        }

        :global(.sidebar-button.more-button) {
          border-bottom-left-radius: 6px;
        }
      }

    }

    .content {
      position: relative;
      grid-area: content;
      display: flex;
      height: 100%;
      overflow: hidden;
      background-color: white;
      border-bottom-right-radius: 6px;
      box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

      img {
        max-width: 100%;
      }

      .tab-manager {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 340px;
        background-color: #272934;
        border-left: 1px solid #343745;
        z-index: 1;

        .tab-manager-search {
          height: 80px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-bottom: 1px solid #343745;
        }

        .tab-manager-tree {
          padding: 20px;
          color: #fff;
        }
      }

    }
  }

}