.tab-manager {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 400px;
  background-color: #272934;
  border-left: 1px solid #343745;
  z-index: 1;

  .tab-manager-search {
    height: 80px;
    display: flex;
    padding: 20px 30px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #343745;
  }

  .tab-manager-tree {
    padding: 20px 30px;
    color: #fff;

    .close-tab-button {
      display: none;
    }

    .tree-view-root {
      flex-grow: 1;
      max-width: 400;

      & > :global(.MuiTreeItem-root) {
        // border-bottom: 1px solid #343745;
        margin-bottom: 6px;
        margin-top: 6px;
      }

      :global(.MuiTreeItem-root) {
        :global(.MuiTreeItem-iconContainer) {
          width: 20px;
        }

        :global(.MuiTreeItem-group) {
          margin-left: 14px;
          margin-bottom: 6px;
          margin-top: 6px;
        }
      }
    }

    .group-tree-item-root {
      &:hover > :global(.MuiTreeItem-content) {
        background-color: transparent;
      }

      & > :global(.MuiTreeItem-content) {
        padding-bottom: 12px;
        padding-top: 12px;
        border-bottom: 1px solid #343745;
      }
    }

    .tab-tree-item-root {
      :global(.MuiTreeItem-content) {
        padding-left: 6px;
        padding-right: 6px;
      }

      &:hover > :global(.MuiTreeItem-content) {
        background-color: #181920;

        .close-tab-button {
          display: flex;
        }
      }

      &:global(.Mui-selected) > :global(.MuiTreeItem-content) {
        background-color: #2c3361;
      }

      &:global(.Mui-selected) :global(.MuiTreeItem-content .MuiTreeItem-label) {
        background-color: transparent;
      }

      :global(.MuiTreeItem-label) {
        :global(.child-label-title) {
          user-select: none;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 14px;
          width: 265px;
          padding-top: 6px;
          padding-bottom: 6px;
        }
      }
    }

  }
}